<header>
  <div class="container">
    <a routerlink="/" class="logo">Foodie</a>
    <nav>
      <ul>
        <li>
          <a routerlink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerlink="/dashboard">Ido</a>
          <div class="menu">
            <a routerlink="/profile">Profile</a>
            <a routerlink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page"> Cart <span>3</span> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
